@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Activar las clases dark: “se activa con `.dark` */
@custom-variant dark (&:where(.dark, .dark *));

@theme { 
  --navbar-color: 51 56 71;
  --primary-channel: 39 68 148;
  --foreground-rgb: 0 0 0;
  --background-start-rgb: 214 219 220;
  --background-end-rgb: 255 255 255;
}

@layer theme {
  :root {
    --text-color: 0 0 0;
    --hover-color: 232 232 232;
    --text-slow: 48 48 48;
    --navbar-color: 255 255 255;
    --bg-infocard-color: 220 220 210;
    --background-end-rgb: 255 255 255;
    --background-start-rgb: 214 219 220;
  }
  .dark {
    --text-color: 255 255 255;
    --hover-color: 21 21 21;
    --text-slow: 145 145 145;
    --navbar-color: 18 18 18;
    --bg-infocard-color: 13 13 13;
    --background-end-rgb: 0 0 0;
    --background-start-rgb: 64 62 62;
  }

  /* aplico variables para despues agregarlas al className */
  .layerblack {
    background-color: rgb(var(--background-end-rgb));
  }
  .cardcolor {
    background-color: rgb(var(--bg-infocard-color));
  }
  .text {
    color: rgb(var(--text-color))!important;
  }
  .textslow {
    color: rgb(var(--text-slow))!important;
  }
  .hover:hover {
    background-color: rgb(var(--hover-color));
    border-radius: 4px;
  }
  /* Falta aplicar */
  .sidebar {
    background-color: rgb(var(--navbar-color)); 
  }
  .navbar {
    background-color: rgb(var(--navbar-color));
    transition: background-color .3s;
  }
}

@layer base {
  body {
    background: linear-gradient(
    to top,
    rgb(var(--background-start-rgb)) 20%,
    rgb(var(--background-end-rgb)) 100%
  );
  }
}

.title {
  color: var(--text-color);
}

.translate{
  transform: translateX(100%);
}

.buttton{
  font-size: 20px;
}

.agregarCarrito{
  background-color: rgb(65, 65, 252);
  padding: 5px;
  margin-left: 6px;
  border-radius: 4px;
  color: white;
}


